/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #D3D3D3; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav img {
    width: 30%;
    margin-left: 30%; /* отступ от левого края */
    margin-top: 20px; /* отступ сверху */
    margin-bottom: 20px; /* отступ снизу */
}

#logo {
    width: 50%;
    margin-left: 25%; /* отступ от левого края */
    margin-top: 20px; /* отступ сверху */
    margin-bottom: 20px; /* отступ снизу */
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.header img {
    width: 7%;
}

#arrow {
    margin-bottom: 40px;
    margin-left: 10px;
}

.plan{
    height: 200px;
}

.blocktext {
    /* Заполните информацию о себе */
    width: 200px;
    height: 10px;
    left: 0px;
    top: 112px;
    padding: 0;

    display: flex;
    float: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 30px;
    font-size: 13px;
    line-height: 15px;
    /* or 115% */

    color: #000000;
}

.smalltext {
    /* Заполните информацию о себе */
    width: 100px;
    height: 10px;
    left: 0px;
    top: 112px;

    max-width: 100px;
    margin-right: 90px;
    margin-left: 20px;

    display: inline-flexbox;
    font-family: Inter;
    font-style: normal;
    font-weight: 30px;
    font-size: 13px;
    line-height: 15px;
    /* or 115% */

    color: #000000;
}

.header{
    margin-top: 0;
    border-width: 10px;
    border-color: #000000;
}

#name{
    width: 600px;
    height: 0px;
    margin-bottom: 65px;
    margin-top: 0;

    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;

    color: #000000;
}

#name2{
    /* Соискатель, тестировщик */
    width: 600px;
    height: 42px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #000000;

}

.boxForPhoto {
    position: relative;
    overflow: hidden;
    width: 120px;
    height: 120px;
    float: left;
    margin-right: 30px;
}

.boxForPhoto img {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.block1 {
    float: left; /*Задаем обтекание*/
    line-height: 20px;/*Высота строки + верт. центрирования текста*/
    min-width: 300px; /*Фиксируем ширину блока*/
    min-height: 350px;
    margin-right: 20px;
    margin-top: 20px;
    text-align: center; /*Центрируем текст по горизонтали*/

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 16px 24px;
    gap: 24px;

    left: 545px;
    top: 377px;

    border: 1px solid #000000;
    border-radius: 8px;

    /* Grayscale/Text */
    color: #222222;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 14px;
}

.block2 {
    float: left; /*Задаем обтекание*/
    line-height: 20px;/*Высота строки + верт. центрирования текста*/
    min-width: 600px; /*Фиксируем ширину блока*/
    min-height: 350px;
    margin-right: 20px;
    margin-top: 20px;
    text-align: center; /*Центрируем текст по горизонтали*/

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 16px 24px;
    gap: 24px;

    left: 545px;
    top: 377px;

    border: 1px solid #000000;
    border-radius: 8px;

    /* Grayscale/Text */
    color: #222222;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 14px;

}

.list{
    line-height: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size)
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 5px;}
    .sidenav a {font-size: 18px;}
}
*/